body {
  padding: 30px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark {
  background-color: #512da8;
}

.row-header {
  margin: 0px auto;
  padding: 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
.custom {
  background-color: #d1c4e9;
  color: white;
}

.carousel {
  background: #512da8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
